controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

auth:
    path: /auth
    controller: App\Controller\AuthController::login
    methods: [POST]