# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        autowire: true
        autoconfigure: true

    App\Serializer\Denormalizer\BatteryDenormalizer:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
        tags: ['serializer.normalizer']

    App\Serializer\Denormalizer\BatteryBankDenormalizer:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
        tags: ['serializer.normalizer']

    App\Serializer\Denormalizer\UserDenormalizer:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
        tags: ['serializer.normalizer']

    App\Command\AiIndexPoliciesCommand:
        arguments:
            $store: '@ai.store.postgres.default'
            $platform: '@ai.traceable_platform.openai'

    App\AI\PoliciesRag:
        arguments:
            $policiesRetriever: '@ai.retriever.policies'
            $agent: '@ai.agent.default'

    app.policy_retriever:
        class: App\AI\PolicyRetriever
        arguments:
            $platform: '@ai.traceable_platform.openai'
            $store: '@ai.store.postgres.default'
        public: true

    # ai.vectorizer.policies:
    #     class: Symfony\AI\Store\Document\Vectorizer
    #     arguments:
    #         $platform: '@ai.traceable_platform.openai'
    #         $model: 'text-embedding-3-small'
    #     public: true

    # ai.store_retriever.policies:
    #     class: Symfony\AI\Store\Retriever
    #     arguments:
    #         $vectorizer: '@ai.vectorizer.policies'
    #         $store: '@ai.store.postgres.default'
    #     tags: ['ai.store.retriever']
    #     public: true

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
