<form method="post" action="{{ path('app_battery_bank_delete', {'id': battery_bank.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ battery_bank.id) }}">
    <button class="btn">Delete</button>
</form>
